.DS_Store

bloop/*
project/.bloop/**
project/project/.bloop/**

.metals/**
node_modules/**
.project/.bloop/**

target/
project/target/


modules/escalator/**

modules/frontend/src/main/static/public/index.html
modules/frontend/src/main/static/public/volt.html

modules/frontend/src/main/static/public/assets/**
modules/frontend/src/main/static/public/css/**
modules/frontend/src/main/static/public/pages/**
modules/frontend/src/main/static/public/vendor/**